* {
    font-size: 16px;
    font-family: sans-serif;
}
header,main,footer {
    text-align: center;
}

main {
    background-image: url(/media/hackapez.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 30px;
}
h1 {
    color: #3ca4c8;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: -2px;
}
/* Calculator */
form {
    margin: 0 50%;
    transform: translateX(-50%);
}
ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

li {
    padding: 5px;
}

#calculator {
    width: 310px;
    height: 220px;
    background-color: #1a1c1b;
    border-radius: 20px;
    border: 8px solid black;
}
#display {
    position: relative;
    margin: 20px 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    background-color: rgba(188, 218, 229, 0.801);
    text-align: right;
    letter-spacing: 2px;
    width: 70%;
    height: 40px;
    overflow-x: hidden;
}

#display output {
    position: absolute;
    right: 0%;
    font-size: 1.5rem;
    vertical-align: middle;
}

button {
    border-width: 1px;
    border-radius: 10px;
    color: white;
}

#btn-nums ul {
    margin: 0 50%;
    transform: translateX(-50%);    
    width: 80%;
}


#btn-nums button {
    background-color: rgb(80, 82, 82);
}

#btn-operators button {
    background-color: #222121;
}
button#btn-reset, button#btn-eraselast {
    background-color: rgb(40, 68, 39);
}



/* Footer */
footer * {
    font-size: 0.85rem;
}

ul.links {
    display: inline-flex;
}

footer li a::before {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
}
[href^="mailto"]::before {
    content: '📧';
}
[href*="github"]::before {
    content: url(/media/_ionicons_svg_logo-github.svg);
}
[href*="linkedin"]::before {
    content: url(/media/_ionicons_svg_logo-linkedin.svg);
}